<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785385039749-2e4btauja9fsr8ds8fbg3rv98e0imffr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785385039749-2e4btauja9fsr8ds8fbg3rv98e0imffr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785385039749-75kn0fjbv764hiuv7u99ihvnvsf3t3ti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-KDKqX_UIqWo63cZkp8tUnsuo0YYFqPU</string>
	<key>GCM_SENDER_ID</key>
	<string>785385039749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aa45.gymtrack</string>
	<key>PROJECT_ID</key>
	<string>gymtrack-aa45</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtrack-aa45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785385039749:ios:26f3595ed52c443050c6ec</string>
</dict>
</plist>