<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785385039749-bg2uqchl7bqlra6895qfbeffodqs7bem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785385039749-bg2uqchl7bqlra6895qfbeffodqs7bem</string>
	<key>API_KEY</key>
	<string>AIzaSyB-KDKqX_UIqWo63cZkp8tUnsuo0YYFqPU</string>
	<key>GCM_SENDER_ID</key>
	<string>785385039749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aa45.todo.todo</string>
	<key>PROJECT_ID</key>
	<string>gymtrack-aa45</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtrack-aa45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785385039749:ios:471d5d14285c733f50c6ec</string>
</dict>
</plist>